.ebextensions/
.elasticbeanstalk/
.idea/
__pycache__/
blog/migrations/
media/
!media/image/
!media/images/bogheader.png
news/
polls/boggedagain/stocks/
stocks/
trainer/
db.sqlite3
*.db*
*.pickle
*.png
*.jpg
*#
*.zip
*.csv
*.xls*
*~
*.swp
