aws-elastic-beanstalk-cli-setup/
.ebextensions/
.elasticbeanstalk/
.idea/
__pycache__/
blog/migrations/
!media/images/*
!media/images/bogheader.png
news/
polls/boggedagain/stocks/
stocks/
trainer/
db.sqlite3
settings.py
*.db*
*.pickle
*.png
*.jpg
*#
*.zip
*.csv
*.xls*
*~
*.swp
*.env
