<head>
<title> Daily data </title>
    {% load static %}
    <script src="{% static 'js/sorttable.js' %}"></script>
</head>

{% load static %}
<link rel="stylesheet" href="{% static 'w3.css' %}">
<header class="w3-container w3-gray">
  <h1>The Daily Bog</h1>
</header>
<div class="w3-sidebar w3-bar-block" style="width:15%">
  <a href=http://www.boggedaga.in class="w3-bar-item w3-button">Home</a>
  <a href=http://www.boggedaga.in/entrance class="w3-bar-item w3-button">The Bogchives</a>
  <a href=http://www.boggedaga.in/dailybog class="w3-bar-item w3-button">The Daily Bog</a>
      <img src={% static "bogsidebar.png" %} alt="Header">
</div>

<div class="w3-container" style="margin-left:15%">
<center>
<p> Click on the column name to sort! </p>
<table border="1" class="sortable w3-table w3-bordered w3-striped">
    <tr>
    {% for item in headers %}
        <th>{{item}}</th>
    {% endfor %}
    </tr>
    {% for item, column in finaldata %}
        {% for thing in column %}
            {% cycle '<tr>' '' '' '' '' '' '' '' '' '' '' %}
                <td><center>
                    {% if thing|length < 5 and "." not in thing %}
                        <a href= "http://www.boggedaga.in/bogging?ticker={{thing}}">{{thing}}</a>
                    {% else %}
                       {{thing}}
                    {% endif %}
                </center></td>
            {% cycle '' '' '' '' '' '' '' '' '' '' '</tr>' %}
        {% endfor %}
    {% endfor %}
</table>
</center>
</div>
