{% extends 'polls/base.html' %}

{% block head_content %}
{% load static %}

<!-- Script for sorting table -->
<script src="{% static 'js/sorttable.js' %}"></script>

<!-- Tabulator Bootstrap CSS -->
<link rel="stylesheet" href="{% static 'css/tabulator_bootstrap4.min.css' %}" type="text/css">

<!-- Additional styling of bogging-table -->
<style type="text/css">
  /* Center header text of bogging-table */
  .tabulator .tabulator-header .tabulator-col {
    text-align:center;
  }

  /* Change selected row color */
  .tabulator-row.tabulator-selected {
    background-color: #eaa09a;
  }
  
  .tabulator-row.tabulator-selected:hover {
    background-color: #cc7c76;
  }

  .tabulator.table-striped .tabulator-row:nth-child(2n).tabulator-selected {
    background-color: #eaa09a;
  }

  .tabulator.table-striped .tabulator-row:nth-child(2n).tabulator-selected:hover {
    background-color: #cc7c76;
  }
</style>
{% endblock head_content %}

{% block title %}{{ title }}{% endblock title %}

{% block body_content %}
<body id="body-entrance">
  <!-- Navbar at top of page -->
  {% include 'polls/top_navbar.html' %}

  <!-- Jumbotron header at top of page -->
  <div class="jumbotron jumbotron-fluid mb-4" id="jumbotron-entrance">
    <div class="container">
      <h1 class="display-4">The {{ title }}</h1>
    </div>
  </div>

  <div class="container">
    <p class="lead text-center py-3">Welcome to the archives of stock analyses spanning records from <a href="http://www.boggedaga.in/bogchives/?date={{mindate}}" target="_blank" rel="noreferrer noopener">{{ mindate }}</a> to <a href="http://www.boggedaga.in/bogchives/?date={{maxdate}}" target="_blank" rel="noreferrer noopener">{{ maxdate }}</a>. Select a date below to view the corresponding records:</p>




    <!-- Statistics summary table  -->
    <!-- <h3 class="text-center mt-5 mb-4">Statistics Summary</h4>

    <div class="table-responsive text-center mb-5">
      <table class="table table-sm table-bordered">
        <thead class="thead-light">
          <tr>
            {% for header in statheaders %}
            <th scope="col">{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for item, column in stats %}
            {% for val in column %}
              {% cycle '<tr>' '' '' '' '' '' '' %}
                <td>{{ val }}</td>
              {% cycle '' '' '' '' '' '' '</tr>' %}
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div> -->

  </div>

  <!-- Bootstrap Scripts -->
  {% include 'polls/bootstrap_scripts.html' %}
  
  {% load static %}

  <!-- Script to enable/display top navbar ticker search -->
  <script src="{% static 'js/enable_top_navbar_search.js' %}"></script>

  <!-- Script for Tabulator -->
  <script src="{% static 'js/tabulator.min.js' %}"></script>

</body>
{% endblock body_content %}







<!-- <head>
<title> The Bogchives </title>
</head>
{% load static %}
<link rel="stylesheet" href={% static "w3.css" %}>
<header class="w3-container w3-gray">
  <h1>The Bogchives</h1>
</header>
<div class="w3-sidebar w3-bar-block" style="width:15%">
  <a href=http://www.boggedaga.in class="w3-bar-item w3-button">Home</a>
  <a href=http://www.boggedaga.in/entrance class="w3-bar-item w3-button">The Bogchives</a>
  <a href=http://www.boggedaga.in/dailybog class="w3-bar-item w3-button">The Daily Bog</a>
    <a href=http://www.boggedaga.in/blog class="w3-bar-item w3-button">Blogged again</a>
        <img src={% static "bogsidebar.png" %} alt="Header" class="w3-grayscale-max">
</div>

<div class="w3-container" style="margin-left:15%">
<center>
Here's the entrance to the archives of this website's past stock records.
    Enter a date in the format of "YYYY-MM-DD" below, and you can see how well/badly my trade philosophy works out.
To give you some idea of what date to try, the oldest date we have is
    <a href="http://www.boggedaga.in/bogchives/?date={{mindate}}">{{mindate}}</a>, while the latest date we have is
    <a href="http://www.boggedaga.in/bogchives/?date={{maxdate}}">{{maxdate}}</a>.</p>
<form action='/bogchives/'>
    <textarea name="date" cols=10 rows=2></textarea>
    <input type="submit" value="Submit">
</form>
</center>
</div>
<div class="w3-container" style="margin-left:15%">
<center>
<p> Recent performance: </p>
<table border="1" class="sortable w3-table w3-bordered w3-striped">
    <tr>
    {% for item in headers %}
        <th>{{item}}</th>
    {% endfor %}
    </tr>
    {% for item in results %}
        {% for thing in item %}
            {% cycle '<tr>' '' '' '' %}
                <center>
                    {% if thing|length > 3 %}
                    <td><a href="http://www.boggedaga.in/bogchives/?date={{thing}}"> {{thing}}</a></td>
                    {% elif thing > 0 %}
                    <td class="w3-green">{{thing}}</td>
                    {% else %}
                    <td class="w3-red">{{thing}}</td>
                    {% endif %}
                </center>
            {% cycle '' '' '' '</tr>' %}
        {% endfor %}
    {% endfor %}
</table>

    <p> Average performance: </p>
<table border="1" class="sortable w3-table w3-bordered w3-striped">
    <tr>
        <th>All Stocks</th>
        <th>Top 10</th>
        <th>Rank 1k+</th>
    </tr>

        <center>
            <td>{{performance.all}}</td>
            <td>{{performance.top10}}</td>
            <td>{{performance.rank1k}}</td>
        </center>

</table>
</center>
</div> -->
