{% extends 'polls/base.html' %}

{% block title %}{{ title }}{% endblock title %}

{% block body_content %}
<body id="body-error">
  <!-- Navbar at top of page -->
  {% include 'polls/top_navbar.html' %}
  
  <!-- Jumbotron -->
  <div class="container">
    <div class="jumbotron jumbotron-floating">
      <p class="lead">Oops! If you're seeing this, something went wrong with the script: </p>
      <p class="font-weight-bold">{{ error }}</p>

      <hr class="my-4">

      <p class="lead">Try again?</p>
      
      <!-- Form for submitting stock ticker -->
      <form action="{% url 'polls:boggers' %}" class="d-flex justify-content-center">
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
            <label for="errorInlineFormInputGroupTickerSymbol" class="sr-only">Ticker Symbol</label>

            <div class="input-group">
              <input type="search" name="ticker" class="form-control-lg" id="errorInlineFormInputGroupTickerSymbol" placeholder="TICKER SYMBOL" aria-label="TICKER SYMBOL" aria-describedby="error-ticker-button">

              <div class="input-group-append">
                <button class="btn btn-primary btn-lg" type="submit" id="error-ticker-button">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
  
  <!-- Bootstrap Scripts -->
  {% include 'polls/bootstrap_scripts.html' %}
  
</body>
{% endblock body_content %}
