<head>
<title> Bogged Again! </title>
</head>

{% load static %}
<link rel="stylesheet" href={% static "w3.css" %}>
<header class="w3-container w3-red">
  <h1>Bogged Again!</h1>
</header>
<div class="w3-sidebar w3-bar-block" style="width:15%">
  <a href=http://www.boggedaga.in class="w3-bar-item w3-button">Home</a>
  <a href=http://www.boggedaga.in/entrance class="w3-bar-item w3-button">The Bogchives</a>
  <a href=http://www.boggedaga.in/dailybog class="w3-bar-item w3-button">The Daily Bog</a>
        <a href=http://www.boggedaga.in/blog class="w3-bar-item w3-button">Blogged again</a>
    <img src={% static "bogsidebar.png" %} alt="Header">
</div>

<div class="w3-container" style="margin-left:15%">
<center>
<p>Welcome to boggedaga.in. The site is still under construction, but there is a little gadget you can play around with
    in the mean time. Enter a valid stock ticker below and click submit to get some data. The basic philosophy behind
    trading is buy low sell high, so the script behind the website is configured to examine stocks that see a
    significant dip today, and search through history for similar dips. As such, it will reject stocks that are either
    in the positive today, or have seen similar movement at least 100 times over the last two years, or roughly 500
    business days(I don't consider that significant enough, but I could be wrong).I recommend looking at stocks that
    have at least dipped 3% or more. There are a variety of stock screeners online such as Yahoo and Fidelity to
    help you come up with a stock you'd like to look at. I also recommend looking at stocks with larger market caps,
    as those garner more interest for there to be news.
<p>News sources have now been updated to have Zacks, Reuters, SeekingAlpha, MarketWatch and StreetInsider.
    There are still stocks that just don't have any news however, even with unrestricted search from Google. I think those
might just be a lost cause. Going forward the classifier will probably just be trained with news from those sites
    (assuming MarketWatch and StreetInsider actually work, they seem to not like my scrapers).</p>
<form action='/bogging/'>
    <textarea name="ticker" cols=5 rows=3></textarea>
    <input type="submit" value="Submit">
</form>
</center>
</div>
