{% extends 'polls/base.html' %}

{% block head_content %}
{% load static %}

<!-- Script for sorting table --> 
<script src="{% static 'js/sorttable.js' %}"></script>
{% endblock head_content %}

{% block title %}{{ title }}{% endblock title %}

{% block body_content %}
<body id="body-selectbogchive">
  <!-- Navbar at top of page -->
  {% include 'polls/top_navbar.html' %}

  <!-- Jumbotron header at top of page -->
  <div class="jumbotron jumbotron-fluid jumbotron-bogchives mb-4">
    <div class="container">
      <h1 class="display-4">{{ title }}</h1>
    </div>
  </div>

  <div class="container">
    <h3 class="text-center py-3">Performance summary for {{ date }}</h3>

    <p>If you bought all of these evenly, your net percent change would be {{ ensemble.0 }}.</p>
    <p>If you bought in only those of rank 1k+, your net percent change would be {{ ensemble.2 }}</p>
    <p class="pb-5">If you bought the top ten in ranking, your net percent change would be {{ ensemble.1 }}</p>

    <!-- Table of stock performance -->
    <div class="table-responsive text-center mb-5" data-toggle="tooltip" data-placement="top" title="Click on a column name to sort">
      <table class="table table-sm table-bordered table-striped sortable">
        <thead>
          <tr>
            {% for header in headers %}
            <th scope="col">{{ header }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for item, column in finaldata %}
            {% for val in column %}
              {% cycle '<tr>' '' '' '' '' '' '' '' '' '' '' '' %}
                <td>{{ val }}</td>
              {% cycle '' '' '' '' '' '' '' '' '' '' '' '</tr>' %}
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>

  </div>

  <!-- Bootstrap Scripts -->
  {% include 'polls/bootstrap_scripts.html' %}
  
  {% load static %}

  <!-- Script to enable/display top navbar ticker search -->
  <script src="{% static 'js/enable_top_navbar_search.js' %}"></script>

  <!-- Script to set color of table head and enable tooltip -->
  <script type="text/javascript">
    const even_net_change = {{ ensemble.0 }};

    {% if even_net_change > 0 %}
      $("thead").addClass("bg-success");
    {% else %}
      $("thead").addClass("bg-danger");
    {% endif %}

    $('.table-responsive').tooltip('show', {
      animation: true,
      boundary: 'window',
      trigger: 'manual'
    });
  </script>

</body>
{% endblock body_content %}
