<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href={% static "w3.css" %}>
<header class="w3-container w3-red">
  <h1>Blogged Again</h1>
</header>
<div class="w3-sidebar w3-bar-block" style="width:15%">
  <a href=http://www.boggedaga.in class="w3-bar-item w3-button">Home</a>
  <a href=http://www.boggedaga.in/entrance class="w3-bar-item w3-button">The Bogchives</a>
  <a href=http://www.boggedaga.in/dailybog class="w3-bar-item w3-button">The Daily Bog</a>
        <a href=http://www.boggedaga.in/blog class="w3-bar-item w3-button">Blogged again</a>
    <img src={% static "bogsidebar.png" %} alt="Header">
</div>

<div class="w3-container" style="margin-left:15%">
	<body>
      		<h1>My Blog</h1>
      		<br /> <br />
     		 <h2>Latest posts</h2>
     		 <hr/>
     		 {% for blog in  blogs.all %}
    			<a href="{% url 'detail' blog.id %}">  <h3>{{ blog.title }}</h3></a>
   			   {{ blog.pub_date_pretty }}
   			   <br />
  			    <br />
    			  <p>{{ blog.summary }}...</p>
     		 {% endfor %}

  		&copy; My Blog,  {% now "Y" %}
	</body>
</div>
</html>